<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    body {
      margin: 20px;
    }
    a:link, a:visited {
      text-decoration: none;
      color: rgb(96, 143, 219);
    }
    a:hover, a:active {
      text-decoration: underline;
    }
    .id {
      font-family: monospace;
    }
    table {
       border-collapse: collapse;
    }
    tr {
      border-bottom: 1px solid #ddd;
      text-align: left;
    }
    td {
      padding: 0.25em;
    }
    ul.inline {
      display: inline-block;
      padding: 0;
    }
    ul.inline > li {
      display: inline;
    }
    ul.inline > li:not(:last-child)::after  {
      content: " ";
    }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      <%= description %>
    </p>
    <h3>API Endpoints</h3>
    <ul>
      <li>GET <a href="validate">/validate</a> - validate data (<a href="https://github.com/gbv/validation-server#get-validate" target="_blank">documentation</a>)</li>
      <li>POST / - validate data (<a href="https://github.com/gbv/validation-server#post" target="_blank">documentation</a>)</li>
      <li>GET <a href="formats">/formats</a> - list supported data formats (<a href="https://github.com/gbv/validation-server#get-formats" target="_blank">documentation</a>)</li>
      <li>GET <a href="languages">/languages</a> - list supported schema languages (<a href="https://github.com/gbv/validation-server#get-languages" target="_blank">documentation</a>)</li>
      <li>GET <a href="schema">/schema</a> - get a schema file (<a href="https://github.com/gbv/validation-server#get-schema" target="_blank">documentation</a>)</li>
    </ul>
    <h3>Formats</h3>
    <p>The following data formats can be validated:</p>
    <table>
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>schemas</th>
          <th>base</th>
          <th>restricts</th>
        </tr>
      </thead>
      <tbody>
        <% for (let format of formats) { %>
        <tr>
          <td>
            <a href="formats?format=<%= format.id %>" class="id"><%= format.id %></a>
          </td>
          <td>
          <% if (format.title) { %>
            <% if (format.url) { %>
              <a href="<%= format.url %>" target="_blank"><%= format.title %></a>
            <% } else { %>
              <%= format.title %>
            <% } %>
          <% } %>
          </td>
          <td>
            <% if (format.versions) { %>
            <ul class="inline">
              <% for (var version in format.versions) {
                let schemas = format.versions[version].schemas || []
                  for (var schema of schemas) { %>
                    <li>
                      <a href="schema?format=<%= format.id %>&version=<%= version %>&type=<%= schema.type %>"><%= version %></a>
                    </li>
                <% }
               } %>
            </ul>
            <% } %>
          </td>
          <td>
            <% let res = format.base; if (res) {
              if (!Array.isArray(res)) res = [ res ] %>
            <ul class="inline">
              <% for (var r of res) { %>
                <li><%= r %></li>
              <% } %>
            </ul>
            <% } %>
          </td>
          <td>
            <% res = format.restricts; if (res) {
              if (!Array.isArray(res)) res = [ res ] %>
            <ul class="inline">
              <% for (var r of res) { %>
                <li><%= r %></li>
              <% } %>
            </ul>
            <% } %>
          </td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </body>
  <footer>
    <p>
      Powered by <a href="https://github.com/gbv/validation-server" target="_blank">validation-server</a> version <%= version %>.
    </p>
    </p>
  </footer>
</html>
