<%- include("head", { title: format.title }) %>
<% short = format.short ?? format.title %>
<h1><a href="./"><%= title %></a></h1>
<h2><%= format.title %></h2>
<% if (format.description || format.wikidata) { %>
  <p>
    <% if (format.description) { %>
      <%= format.description %>.
    <% } %>
    <% if (format.wikidata) { %>
      Read more about <a href="https://tools.wmflabs.org/hub/<%= format.wikidata %>"><%= short %> in Wikipedia</a>.
  <% } %>
  </p>
<% } %>
<% if (format.url) { %>
  <p><a href="<%= format.url %>"><%= format.url %></a></p>
<% } %>
<dl>
  <% if (format.base) {
       bases = Array.isArray(format.base) ? format.base : [ format.base ] %>
    <dt>base format</dt>
    <dd>
      <ul>
        <% for (var id of bases) { %>
          <li><%- include("link", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.restricts) {
       restricts = Array.isArray(format.restricts) ? format.restricts : [ format.restricts ] %>
    <dt>schema format for</dt>
    <dd>
      <ul>
        <% for (var id of restricts) { %>
          <li><%- include("link", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.versions) { %>
    <dt>versions and schemas</dt>
    <dd>
      <ul>
        <% for (var v in format.versions) {
          let schemas = format.versions[v].schemas || []
            for (var schema of schemas) { %>
              <li>
                <a href="schema?format=<%= format.id %>&version=<%= v %>&type=<%= schema.type %>"><code><%= v %></code></a>
                a <%= schema.type %>
                <% if (schema.url) { %>
                  from <a href="<%= schema.url %>"><%= schema.url %></a>
                <% } %>
              </li>
          <% }
         } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.mimetype) { %>
    <dt>mimetype</dt>
    <dd><a href="<%= format.mimetype %>"><%= format.mimetype %></a></dd>
  <% } %>
</dl>

<h3>Validation</h3>
<p>
  Check whether data conforms to <%= short %> format:
</p>
<ul>
  <li>
    <code>POST /<%= format.id %></code>
  </li>
  <li>
    <code>GET /validate?format=<%= format.id %></code>
    with additional parameter <code>data</code> or <code>url</code>
  </li>
</ul>

<% if (format.createValidator) { %>
<p>
  This format is a <b>schema language</b>: It can be used to specify data formats with schemas.
</p>
<% } %>

<%- include("foot") %>
