<%- include("head", { title: format.title }) %>
<% short = format.short ?? format.title %>
<h1 class="back"><a href="./<%=root%>"><%= title %></a></h1>

<h2 id="format-title"><%= format.title %></h2>

<div class="infobox">
  <h2><a href="<%=root%>formats?format=<%=format.id%>"><code><%= format.id %></code></a></h2>
  <% if (format.mimetypes) { %>
    <ul>
      <% for (var type of format.mimetypes) { %>
        <li><code><%= type %></code></li>
      <% } %>
    </ul>
  <% } %>
</div>

<% if (format.description || format.wikidata) { %>
  <p>
    <% if (format.description) { %>
      <%= format.description %>.
    <% } %>
    <% if (format.wikidata) { %>
      Read more about <a href="https://tools.wmflabs.org/hub/<%= format.wikidata %>"><%= short %> in Wikipedia</a>.
  <% } %>
  </p>
<% } %>

<%
const bases = asArray(format.base).filter(Boolean)
const encodes = asArray(format.encodes).filter(Boolean)
const encodings = asArray(format.encodings).filter(Boolean)
const restricts = asArray(format.restricts).filter(Boolean)
if (bases.length || encodes.length || encodings.length || restricts.length) { %>
<div>
  <%- include("inline-list", { text: "Based on", items: bases }) %>
  <%- include("inline-list", { text: "Can encode", items: encodes }) %>
  <%- include("inline-list", { text: "Has encoding", items: encodings }) %>
  <%- include("inline-list", { text: "Schema format for", items: restricts, suffix: format.createValidator ? `(supported by ${title} to define other formats)` : "" }) %>
</div>
<% } %>

<% if (format.url) { %>
  <p><a href="<%= format.url %>"><%= format.url %></a></p>
<% } %>

<% versions = format.versions ? Object.keys(format.versions).sort().reverse() : null %>
<% if (versions) { %>
<h3>versions and schemas</h3>
  <ul>
    <% for (var v of versions) {
      let schemas = format.versions[v].schemas || []
        for (var schema of schemas) { %>
          <li>
            <a href="<%=root%>schema?format=<%= format.id %>&version=<%= v %>&type=<%= schema.type %>"><code><%= v %></code></a>
            a <%- include("./id", { id: schema.type }) %>
            <% if (schema.url) { %>
              from <a href="<%= schema.url %>"><%= schema.url %></a>
            <% } %>
          </li>
      <% }
     } %>
  </ul>
<% } %>

<h3 style="display: flex">
  <div style="flex-grow: 1">Validation</div>
  <div style="font-weight: normal">
    <small>
      <ul class="inline spaced">
        <% if (versions && versions.length > 1) { %>
        <li>
          <label for="versionSelect">version </label>
          <select name="version" id="versionSelect">
            <option value="default">(default)</option>
            <% for (let v of versions) { %>
              <option value="<%=v%>"><%=v%></option>
            <% } %>
          </select>
          <% } %>
        </li>
        <% if (bases.indexOf("json") > -1) { %>
        <!-- TODO: encodings -->
        <li>
          <input type="checkbox" id="jsonArray"> <label for="jsonArray">JSON array</label>
        </li>
        <% } %>
        <li>
         <input type="checkbox" id="rawResult"> <label for="rawResult">raw response</label>
       </li>
      </ul>
    </small>
  </div>
</h3>
<ul>
  <li>
    <code>GET /validate?format=<%= format.id %><span class="and-version"></span><span class="and-select"></span></code>
    ☞ <a href="https://github.com/gbv/validation-server#get-validate" target="_blank">documentation</a>
    <%- include("validate-data-form", { bases }) %>
  </li>
  <li>
    <div>
      <code>POST /<%= format.id %><span class="at-version"></span><span class="query"></span></code> multipart/form-data
      ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
    </div>
    <%- include("validate-file-form", { bases }) %>
   <div id="validationResult"></div>
  </li>
  <li>
    <code>POST /<%= format.id %><span class="at-version"></span><span class="query"></span></code> request body
    ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
<pre><code language="bash">curl '<%= baseUrl + format.id %><span class="at-version"></span><span class="query"></span>'<span> --data-binary @filename</span></code></pre>
  </li>
</ul>

<% if (format.profiles) { %>
<h3>Formats based on <%= short %></h3>
<%- include("formats", { root: format.profiles }) %>
<% } %>

<%- include("foot") %>
