<%- include("head", { title: format.title }) %>
<% short = format.short ?? format.title %>
<h1><a href="./<%=root%>"><%= title %></a></h1>

<h2><%= format.title %></h2>
<% if (format.description || format.wikidata) { %>
  <p>
    <% if (format.description) { %>
      <%= format.description %>.
    <% } %>
    <% if (format.wikidata) { %>
      Read more about <a href="https://tools.wmflabs.org/hub/<%= format.wikidata %>"><%= short %> in Wikipedia</a>.
  <% } %>
  </p>
<% } %>
<% if (format.url) { %>
  <p><a href="<%= format.url %>"><%= format.url %></a></p>
<% } %>
<dl>
  <% if (format.base) {
       bases = Array.isArray(format.base) ? format.base : [ format.base ] %>
    <dt>base format</dt>
    <dd>
      <ul>
        <% for (var id of bases) { %>
          <li><%- include("id", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.restricts) {
       restricts = Array.isArray(format.restricts) ? format.restricts : [ format.restricts ] %>
    <dt>schema format for</dt>
    <dd>
      <ul>
        <% for (var id of restricts) { %>
          <li><%- include("id", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.versions) { %>
    <dt>versions and schemas</dt>
    <dd>
      <ul>
        <% for (var v in format.versions) {
          let schemas = format.versions[v].schemas || []
            for (var schema of schemas) { %>
              <li>
                <a href="<%=root%>schema?format=<%= format.id %>&version=<%= v %>&type=<%= schema.type %>"><code><%= v %></code></a>
                a <%- include("./link", { link: schema.type }) %>
                <% if (schema.url) { %>
                  from <a href="<%= schema.url %>"><%= schema.url %></a>
                <% } %>
              </li>
          <% }
         } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.mimetype) { %>
    <dt>mimetype</dt>
    <dd><%= format.mimetype %></dd>
  <% } %>
</dl>
<% if (format.createValidator) { %>
<p>
  <%= title %> supports <%= short %> for definition of other formats.
</p>
<% } %>

<h3>Validation</h3>
<p>
  Check whether data conforms to <%= short %> format:
</p>
<ul>
  <li>
    <div>
      <code>POST /<%= format.id %></code> multipart/form-data
      ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
    </div>
    <%- include("validate-form") %>
  </li>
  <li>
    <code>POST /<%= format.id %></code> request body
    ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
<pre><code language="bash">curl -X POST <%= baseUrl + format.id %> -d @filename</code></pre>
  </li>
  <li>
    <code>GET /validate?format=<%= format.id %></code>
    with additional parameter <code>data</code> or <code>url</code>
    ☞ <a href="https://github.com/gbv/validation-server#get-validate" target="_blank">documentation</a>
  </li>
</ul>
<% if (format.base === "json") { %>
<p>
  Optional Request parameter <code>select=$.*</code> validates a JSON array of records in
  <%= short %> format.
</p>
<% } %>
<h3>About</h3>
<p>
  <a href="<%=root%>formats?format=<%=format.id%>">Data about <%= short %></a>
  as configured in <%= title %>.
</p>

<%- include("foot") %>
