<%- include("head", { title: format.title }) %>
<% short = format.short ?? format.title %>
<h1 class="back"><a href="./<%=root%>"><%= title %></a></h1>

<h2 style="display: flex">
  <div style="flex-grow: 1" id="format-title"><%= format.title %></div>
  <div>
    <a href="<%=root%>formats?format=<%=format.id%>"><code><%= format.id %></code></a>
  </div>
</h2>
<% if (format.description || format.wikidata) { %>
  <p>
    <% if (format.description) { %>
      <%= format.description %>.
    <% } %>
    <% if (format.wikidata) { %>
      Read more about <a href="https://tools.wmflabs.org/hub/<%= format.wikidata %>"><%= short %> in Wikipedia</a>.
  <% } %>
  </p>
<% } %>
<% if (format.url) { %>
  <p><a href="<%= format.url %>"><%= format.url %></a></p>
<% } %>
<dl>
  <% if (format.base) {
       bases = Array.isArray(format.base) ? format.base : [ format.base ] %>
    <dt>base format</dt>
    <dd>
      <ul>
        <% for (var id of bases) { %>
          <li><%- include("id", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.restricts) {
       restricts = Array.isArray(format.restricts) ? format.restricts : [ format.restricts ] %>
    <dt>schema format for</dt>
    <dd>
      <ul>
        <% for (var id of restricts) { %>
          <li><%- include("id", { id }) %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
  <% versions = format.versions ? Object.keys(format.versions).sort().reverse() : null %>
  <% if (versions) { %>
    <dt>versions and schemas</dt>
    <dd>
      <ul>
        <% for (var v of versions) {
          let schemas = format.versions[v].schemas || []
            for (var schema of schemas) { %>
              <li>
                <a href="<%=root%>schema?format=<%= format.id %>&version=<%= v %>&type=<%= schema.type %>"><code><%= v %></code></a>
                a <%- include("./id", { id: schema.type }) %>
                <% if (schema.url) { %>
                  from <a href="<%= schema.url %>"><%= schema.url %></a>
                <% } %>
              </li>
          <% }
         } %>
      </ul>
    </dd>
  <% } %>
  <% if (format.mimetypes) { %>
    <dt>mimetypes</dt>
    <dd>
      <ul>
        <% for (var type of format.mimetypes) { %>
          <li><%= type %></li>
        <% } %>
      </ul>
    </dd>
  <% } %>
</dl>
<% if (format.createValidator) { %>
<p>
  <%= title %> supports <%= short %> for definition of other formats.
</p>
<% } %>

<h3 style="display: flex">
  <div style="flex-grow: 1">Validation</div>
  <div style="font-weight: normal">
    <% if (versions && versions.length > 1) { %>
      <label for="versionSelect">version </label>
      <select name="version" id="versionSelect">
        <option value="default">(default)</option>
        <% for (let v of versions) { %>
          <option value="<%=v%>"><%=v%></option>
        <% } %>
      </select>
    <% } %>
    <input type="checkbox" id="rawResult"> <label for="rawResult">raw response</label>
  </div>
</h3>
<ul>
  <li>
    <code>GET /validate?format=<%= format.id %><span class="and-version"/></code>
    ☞ <a href="https://github.com/gbv/validation-server#get-validate" target="_blank">documentation</a>
    <%- include("validate-data-form") %>
  </li>
  <li>
    <div>
      <code>POST /<%= format.id %><span class="at-version"/></code> multipart/form-data
      ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
    </div>
    <%- include("validate-file-form") %>
   <div id="validationResult"></div>
  </li>
  <li>
    <code>POST /<%= format.id %><span class="at-version"/></code> request body
    ☞ <a href="https://github.com/gbv/validation-server#post-format" target="_blank">documentation</a>
<pre><code language="bash">curl -X POST <%= baseUrl + format.id %><span class="at-version"></span><span> -d @filename</span></code></pre>
  </li>
</ul>
<% if (format.base === "json") { %>
<p>
  Optional Request parameter <code>select=$.*</code> validates records in a JSON array.
</p>
<% } %>

<% if (format.profiles) { %>
<h3>Formats based on <%= short %></h3>
<%- include("formats", { root: format.profiles }) %>
<% } %>

<%- include("foot") %>
